<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/tema.css">
    <title>Добавить группу</title>
    <style>
       form {
          margin: 20px; 
       }
       .err {
        margin: 20px; 
       }
       </style>
</head>
<body>
{% include "Nav.html" %}
    <div class="err" >
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</div>
    <form action="" method="post" >

    <p>
        <label for="name">Название группы</label>
    </p><p>
        <input type="text" name="name">
    </p>
    <p>
        <input type="submit" class="btn btn-primary">
    </p>
    </form>
</body>
</html>